{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}
  {{ page.title }} | Tabitha Talking
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article>
          {% if page.header_image %}
            {% image page.header_image width-1000 class="img-fluid mb-4" alt=page.title %}
          {% endif %}
          <h1>{{ page.title }}</h1>
          <p class="text-muted">
            <small>Published on {{ page.date }}</small>
          </p>
          {% if page.tags.all %}
            <div class="mb-3">
              {% for tag in page.tags.all %}
                <a href="{% url 'blog:search' %}?tag={{ tag.slug|urlencode }}"
                   class="badge bg-secondary text-decoration-none">{{ tag }}</a>
              {% endfor %}
            </div>
          {% endif %}
          <div class="lead">{{ page.intro }}</div>
          <hr />
          <div class="blog-content">
            {% for block in page.body %}
              {% include_block block %}
            {% endfor %}
          </div>
        </article>
      </div>
    </div>
  </div>
{% endblock content %}
